.signup-page { 
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .signup-form { 
        width: rem(450px);
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        >* { 
            margin-bottom: 20px;
        }
    }
}