@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


.signup-page {
    display: flex;
    height: 100vh;
    // Signup form

    .signup-info {
        margin: 114px 80px;
        width: 100%;
        box-sizing: unset;
        display: flex;
        flex-direction: column;

        span {
            color: beige;
            font-family: 'Lato', sans-serif;
        }

        @include for-wide-layout {
            margin: 114px 132px;
        }

        h1 {
            font-size: 40px;
            line-height: 57px;
            margin: rem(16px) 0;
        }

        .signup-form {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include for-wide-layout {
                width: 582px;
            }

            input {
                margin-bottom: rem(26px);
            }

            label {
                font-size: 14px;
                line-height: 21px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            .primary-btn-signup {
                padding: 13px;

                padding: 1.3em 3em;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                font-weight: 500;
                color: #000;
                background-color: #fff;
                border: none;
                border-radius: 45px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
            }

            button:hover {
                background: linear-gradient(90deg, #1199fa, #11d0fa);
                color: #fff;
                transform: translateY(-7px);
            }

            button:active {
                transform: translateY(-1px);

            }
        }
    }

    // Signup img
    .signup-background-img {
        display: none;

        @include for-wide-layout {
            display: block;
            flex-grow: 1;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
        }
    }
}