.app-header {
    background-color: #212427;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    @include for-narrow-layout {
        height: 80px;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // LOGO
    .logo {
        color: whitesmoke;
        // font-family: caveat, serif;
        font-size: 1.8rem;

        @include for-narrow-layout {
            font-size: 2.5rem;
        }
    }

    .logo.router-link-active {
        color: whitesmoke;
    }
    .nav-container {
        display: flex;
        align-items: center;
    }

    /* NAV LINKS */
    .nav-links {
        display: flex;
        position: fixed;
        background-color: #212427;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: 0;
        width: 240px;
        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
        &.open {
            box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
            transform: translateX(0);
        }
        li {
            text-align: center;
            padding: 6px 10px;
            border-bottom: 1px solid #e5e5e52e;
            transition: background-color 0.3s;
            font-weight: 400;
            &:hover {
                background-color: #33373cfa;
            }
        }

        @include for-normal-layout {
            position: static;
            flex-direction: row;
            height: inherit;
            width: inherit;
            transform: translateX(0);
            >* {
                margin-right: 30px;
            }
            li {
                text-align: center;
                padding: 0px;
                border: none;
                &:hover {
                    background-color: inherit;
                }
            }
        }
    }
    .nav-links>* {
        color: whitesmoke;
        font-size: 0.9rem;
        @include for-narrow-layout {
            font-size: 1.2rem;
        }
    }
    a.router-link-active {
        color: #e63579;
    }
   
    // Hamburger-btn
    .hamburger-btn {
        background-color: transparent;
        border: none;
        // padding: 7px 13px;
        padding: 0;
        color: whitesmoke;
        border-radius: 10px;

        &:hover {
            // background-color: #33373cfa;
        }
        
        @include for-normal-layout {
            display: none;
        }
        .hamburger-icon {
            font-size: 25px;
            line-height: 25px;
        }
    }
    // Screen-overlay
    .screen-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.6s;
        &.open {
            pointer-events: auto;
            opacity: 1;
        }
    }
}