.conatct-preview-container {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.496);

    .user-avatar {
        width: 50px;
        margin-right: 16px;
        border-radius: 50%;
    }

    .contact-preview-details {
        .contact-name {
            margin: 0;
            font-size: rem(14px);
            margin-bottom: 5px;
            @include for-narrow-layout {
                margin-bottom: 0px;
                font-size: rem(20px);
            }
        }
        .contact-email {
            margin: 0;
            color: rgb(186, 186, 186);
            font-size: rem(10px);
            @include for-narrow-layout {
                font-size: rem(14px);
            }
        }
    }
}
