.contact-options {
    display: none;

    @include for-wide-layout {
        display: block;
    }


    .active-contact-triggers {
        display: flex;
        flex-direction: row;
        .primary-btn {
            margin-right: 16px;
        }
    }
}
