.move-list {
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow-y: auto;

    @include for-narrow-layout {
    }
    // In case there are no transfers - h2
    .no-moves-header {
        color: rgb(147, 210, 253);
    }

    .move-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.496);
        margin-bottom: 10px;
        height: 60px;

        @include for-narrow-layout {
            height: 80px;
        }

        .direct-description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .time-description {
            margin: 0;
            color: #75839f;
            font-size: rem(10px);

            @include for-narrow-layout {
                font-size: rem(14px);
            }
        }

        .move-to {
            margin: 0 0 4px;
            font-size: rem(14px);

            @include for-narrow-layout {
                margin: 0 0 8px;
                font-size: rem(20px);
            }
        }

        .btn-value {
            color: rgb(147, 210, 253);
            margin: 0;
            padding-bottom: 5px;
            font-size: rem(14px);

            @include for-narrow-layout {
                font-size: rem(16px);
            }
        }

        .move-amount {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            p {
                margin: 0;
                color: #75839f;
                font-size: rem(10px);

                @include for-narrow-layout {
                    font-size: rem(14px);
                }
            }
        }

        h3 {
            font-size: rem(10px);

            @include for-narrow-layout {
                font-size: rem(14px);
            }
            span {
                color: rgb(124, 192, 124);

                &.gold {
                    color: gold;
                }
            }
        }
    }
}
