* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

::selection {
    // background-color: lighten(#{var(--primary-dominant)}, 20%);
    // color: var(--main-font-clr);
}

body {
    margin: 0;
    font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #0b1426;
    color: white;
}

.root-cmp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 em(20px, 50px);
    font-weight: 400;
    font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
        helvetica neue, helvetica, arial, sans-serif;
}

h1 {
    font-weight: 600;
    font-size: rem(29px);
}

p {
    max-width: 50ch;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}
