/* Media queries Breakpoint mixins */

// Max width
@mixin for-mobile-layout {
    @media (max-width: $padded-break-narrow) {
        @content;
    }
}

// 530px
@mixin for-narrow-layout {
    @media (min-width: $padded-break-narrow) {
        @content;
    }
}

// 760px
@mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
        @content;
    }
}

// 1000px
@mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
        @content;
    }
}

// @mixin layoutGTC($max) {
//     grid-template-columns: minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
// }