@font-face {
    font-family: caveat;
    src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: SourceSans-Bold;
    src: url(../../fonts/sourceSansPro/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: SourceSans-Regular;
    src: url(../../fonts/sourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceSans-Light;
    src: url(../../fonts/sourceSansPro/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: SourceSans-Semibold;
    src: url(../../fonts/sourceSansPro/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: Secular;
    src: url(../../fonts/secularOne/SecularOne-Regular.ttf);
}

@font-face {
    font-family: Segoe UI ;
    src: url(../../fonts/Segoe-UI-Font/SEGOEUI.TTF);
}

@font-face {
    font-family: Adelle-Regular ;
    src: url(../../fonts/adelle/Adelle_Reg.woff);
}
